.alert {
    display: flex;
    flex-direction: column-reverse;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
    /* border: solid salmon; */
}

.searchResult {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
}